<dta-navbar></dta-navbar>
<div class="md:flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap gap-2 p-4">
      <a
        class="text-[#60758a] text-base font-medium leading-normal select-none"
        [routerLink]="'/alojamiento'"
        >Alojamientos</a
      >
      <span
        class="text-[#60758a] text-base font-medium leading-normal select-none"
        >/</span
      >
      <span
        class="text-[#111418] text-base font-medium leading-normal select-none"
        >Departamento planta baja</span
      >
    </div>
    <h1
      class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5 select-none"
    >
      Departamento para 6 personas en el centro de la ciudad
    </h1>
    <p
      class="text-[#111418] text-base font-normal leading-normal pb-3 pt-1 px-4 select-none"
    >
      6 camas · 2 habitaciones · 1 baños
    </p>
    <div class="flex w-full grow bg-white @container p-4">
      <div
        class="w-full gap-1 overflow-hidden bg-white @[480px]:gap-2 aspect-[3/2] rounded-xl grid grid-cols-[2fr_1fr_1fr]"
      >
        @for (img of imagenes; track $index) {
        <button
          class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none focus:outline-none
            {{ $index === 0 ? 'row-span-2' : '' }}"
          style="
            background-image: url('{{ img }}');
          "
          (click)="openModal(img)"
          aria-label="Ver imagen grande"
        ></button>
        }
      </div>
    </div>
    <h2
      class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 select-none"
    >
      Acerca de este lugar
    </h2>
    <p
      class="text-[#111418] text-base font-normal leading-normal pb-3 pt-1 px-4 select-none"
    >
      Disfruta de una experiencia elegante en este alojamiento céntrico. Este
      moderno apartamento de dos dormitorios ofrece una cocina totalmente
      equipada, ambiente climatizado y una acogedora sala de estar. Perfecto
      para familias grandes o grupos de amigos que buscan una estancia memorable
      en la ciudad.
    </p>
    <h2
      class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 select-none"
    >
      Qué ofrece este lugar
    </h2>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <div
        class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 items-center"
      >
        <div
          class="text-[#111418]"
          data-icon="SwimmingPool"
          data-size="24px"
          data-weight="regular"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M216,72H32V48a8,8,0,0,0-16,0V208a8,8,0,0,0,16,0V176H240v32a8,8,0,0,0,16,0V112A40,40,0,0,0,216,72ZM32,88h72v72H32Zm88,72V88h96a24,24,0,0,1,24,24v48Z"
            ></path>
          </svg>
        </div>
        <h2
          class="text-[#111418] text-base font-bold leading-tight select-none"
        >
          Ropa Blanca
        </h2>
      </div>
      <div
        class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 items-center"
      >
        <div
          class="text-[#111418]"
          data-icon="WifiHigh"
          data-size="24px"
          data-weight="regular"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <path
              d="M140,204a12,12,0,1,1-12-12A12,12,0,0,1,140,204ZM237.08,87A172,172,0,0,0,18.92,87,8,8,0,0,0,29.08,99.37a156,156,0,0,1,197.84,0A8,8,0,0,0,237.08,87ZM205,122.77a124,124,0,0,0-153.94,0A8,8,0,0,0,61,135.31a108,108,0,0,1,134.06,0,8,8,0,0,0,11.24-1.3A8,8,0,0,0,205,122.77Zm-32.26,35.76a76.05,76.05,0,0,0-89.42,0,8,8,0,0,0,9.42,12.94,60,60,0,0,1,70.58,0,8,8,0,1,0,9.42-12.94Z"
            ></path>
          </svg>
        </div>
        <h2
          class="text-[#111418] text-base font-bold leading-tight select-none"
        >
          Wifi
        </h2>
      </div>
      <div
        class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 items-center"
      >
        <div
          class="text-[#111418]"
          data-icon="Garage"
          data-size="24px"
          data-weight="regular"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <path
              d="M240,192h-8V98.67a16,16,0,0,0-7.12-13.31l-88-58.67a16,16,0,0,0-17.75,0l-88,58.67A16,16,0,0,0,24,98.67V192H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM40,98.67,128,40l88,58.66V192H192V136a8,8,0,0,0-8-8H72a8,8,0,0,0-8,8v56H40ZM176,144v16H136V144Zm-56,16H80V144h40ZM80,176h40v16H80Zm56,0h40v16H136Z"
            ></path>
          </svg>
        </div>
        <h2
          class="text-[#111418] text-base font-bold leading-tight select-none"
        >
          Cochera
        </h2>
      </div>
      <div
        class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 items-center"
      >
        <div
          class="text-[#111418]"
          data-icon="CookingPot"
          data-size="24px"
          data-weight="regular"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <path
              d="M88,48V16a8,8,0,0,1,16,0V48a8,8,0,0,1-16,0Zm40,8a8,8,0,0,0,8-8V16a8,8,0,0,0-16,0V48A8,8,0,0,0,128,56Zm32,0a8,8,0,0,0,8-8V16a8,8,0,0,0-16,0V48A8,8,0,0,0,160,56Zm92.8,46.4L224,124v60a32,32,0,0,1-32,32H64a32,32,0,0,1-32-32V124L3.2,102.4a8,8,0,0,1,9.6-12.8L32,104V88A16,16,0,0,1,48,72H208a16,16,0,0,1,16,16v16l19.2-14.4a8,8,0,0,1,9.6,12.8ZM208,88H48v96a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16Z"
            ></path>
          </svg>
        </div>
        <h2
          class="text-[#111418] text-base font-bold leading-tight select-none"
        >
          Cocina
        </h2>
      </div>
      <div
        class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 items-center"
      >
        <div
          class="text-[#111418]"
          data-icon="Television"
          data-size="24px"
          data-weight="regular"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <path
              d="M216,64H147.31l34.35-34.34a8,8,0,1,0-11.32-11.32L128,60.69,85.66,18.34A8,8,0,0,0,74.34,29.66L108.69,64H40A16,16,0,0,0,24,80V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V80A16,16,0,0,0,216,64ZM40,80H144V200H40ZM216,200H160V80h56V200Zm-16-84a12,12,0,1,1-12-12A12,12,0,0,1,200,116Zm0,48a12,12,0,1,1-12-12A12,12,0,0,1,200,164Z"
            ></path>
          </svg>
        </div>
        <h2
          class="text-[#111418] text-base font-bold leading-tight select-none"
        >
          Televisión
        </h2>
      </div>
      <div
        class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 items-center"
      >
        <div
          class="text-[#111418]"
          data-icon="Lamp"
          data-size="24px"
          data-weight="regular"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32Zm0,176H48V48H208V208ZM128,64a64,64,0,1,0,64,64A64.07,64.07,0,0,0,128,64Zm0,112a48,48,0,1,1,48-48A48.05,48.05,0,0,1,128,176ZM200,68a12,12,0,1,1-12-12A12,12,0,0,1,200,68Zm-74.34,49.66-16,16a8,8,0,0,1-11.32-11.32l16-16a8,8,0,0,1,11.32,11.32Zm32-3.32a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32-11.32l32-32A8,8,0,0,1,157.66,114.34Z"
            ></path>
          </svg>
        </div>
        <h2
          class="text-[#111418] text-base font-bold leading-tight select-none"
        >
          Lavadora
        </h2>
      </div>
    </div>

    <h2
      class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 select-none"
    >
      Dónde estarás
    </h2>
    <div class="flex px-4 py-3">
      <div
        class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl object-cover"
      >
        <div class="w-full aspect-video rounded-xl overflow-hidden">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1009.7340010583042!2d-64.43079109813246!3d-31.652277569879903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d574b4dcda689%3A0xa1b50e7f0f06ed94!2sViceint%20Dr.%20Jorge%20Nahal%20235%2C%20X5186%20Alta%20Gracia%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1752421759427!5m2!1ses!2sar"
            class="w-full h-full"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
    <h2
      class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 select-none"
    >
      Cosas que debes saber
    </h2>
    <div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
      <div
        class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-5"
      >
        <p
          class="text-[#60758a] text-sm font-normal leading-normal select-none"
        >
          Reglas de la casa
        </p>
        <p
          class="text-[#111418] text-sm font-normal leading-normal select-none"
        >
          No se admiten mascotas. No fumar. Horario de silencio después de las
          11 p.m.
        </p>
      </div>
      <div
        class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-5"
      >
        <p
          class="text-[#60758a] text-sm font-normal leading-normal select-none"
        >
          Salud y seguridad
        </p>
        <p
          class="text-[#111418] text-sm font-normal leading-normal select-none"
        >
          Botiquín de primeros auxilios disponible. Extintor de incendios en la
          propiedad.
        </p>
      </div>
      <div
        class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dbe0e6] py-5"
      >
        <p
          class="text-[#60758a] text-sm font-normal leading-normal select-none"
        >
          Política de reserva
        </p>
        <p
          class="text-[#111418] text-sm font-normal leading-normal select-none"
        >
          Reserva con el 50% de la estadía.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

@if (modalOpen) {
<dta-modal
  [images]="imagenes"
  [activeImage]="imagenSeleccionada"
  (close)="modalOpen = false"
  (changeImage)="imagenSeleccionada = $event.img"
></dta-modal>
}
<dta-footer></dta-footer>
