<dta-navbar></dta-navbar>
<div class="md:flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap justify-between gap-3 p-4">
      <p
        class="text-[#111518] tracking-light text-[32px] font-bold leading-tight min-w-72 select-none"
      >
        Sobre Nosotros
      </p>
    </div>
    <h2
      class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 select-none"
    >
      Nuestra Misión
    </h2>
    <p
      class="text-[#111518] text-base font-normal leading-normal pb-3 pt-1 px-4 select-none"
    >
      En Departamentos Arrayanes, nuestra misión es proporcionar experiencias de
      alojamiento excepcionales que superen las expectativas de nuestros
      huéspedes. Nos esforzamos por crear espacios cómodos, elegantes y bien
      equipados que se sientan como en casa, ya sea que estés de visita por
      negocios o por placer. Nos comprometemos a ofrecer un servicio al cliente
      excepcional y a garantizar que cada estancia sea memorable.
    </p>
    <h2
      class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 select-none"
    >
      Nuestros Valores
    </h2>
    <p
      class="text-[#111518] text-base font-normal leading-normal pb-3 pt-1 px-4 select-none"
    >
      Nuestros valores fundamentales son la integridad, la comodidad y el
      descanso. Creemos en la transparencia y la honestidad en todas nuestras
      interacciones. Nos esforzamos por la excelencia en todo lo que hacemos,
      desde la selección del departamento hasta la atención al cliente.
      Adoptamos la innovación para mejorar continuamente nuestros servicios y
      ofrecer experiencias únicas a nuestros huéspedes.
    </p>
    <h2
      class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 select-none"
    >
      Nuestra Ciudad
    </h2>
    <p
      class="text-[#111518] text-base font-normal leading-normal pb-3 pt-1 px-4 select-none"
    >
      Estamos orgullosos de estar ubicados en el corazón de la vibrante ciudad
      de Alta Gracia. Conocida por su rica historia, su diversa cultura y su
      próspera escena artística, Alta Gracia ofrece algo para todos. Desde
      museos y galerías de arte hasta restaurantes de primera categoría y una
      animada vida nocturna, nunca hay un momento aburrido en Alta Gracia.
    </p>
    <h2
      class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 select-none"
    >
      Nuestras Ubicaciones
    </h2>
    <p
      class="text-[#111518] text-base font-normal leading-normal pb-3 pt-1 px-4 select-none"
    >
      Nuestros departamentos están ubicados en los barrios más deseables de Alta
      Gracia, cada uno con su propio encanto y carácter únicos. Ya sea que
      prefieras la tranquilidad de un barrio residencial o la energía de un
      distrito del centro, tenemos la ubicación perfecta para ti. Todos nuestros
      departamentos están convenientemente ubicados cerca de tiendas y
      atracciones locales, lo que garantiza una estancia cómoda y conveniente.
    </p>
    <div class="flex w-full grow bg-white @container p-4">
      <div
        class="w-full gap-1 overflow-hidden bg-white @[480px]:gap-2 aspect-[3/2] rounded-xl grid grid-cols-[2fr_1fr_1fr]"
      >
        <div
          class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none row-span-2"
          style="
            background-image: url('img/frente.webp');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none col-span-2"
          style="
            background-image: url('img/DP1.webp');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none col-span-2"
          style="
            background-image: url('img/DP2.webp');
          "
        ></div>
      </div>
    </div>
  </div>
</div>
<dta-footer></dta-footer>
