<dta-navbar></dta-navbar>
<div class="flex flex-1 justify-center py-5 min-h-[calc(100vh-270px)]">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap gap-2 p-4">
      <a
        class="text-[#111418] text-base font-medium leading-normal select-none"
        [routerLink]="'/alojamiento'"
        >Alojamientos</a
      >
      <span class="text-[#60758a] text-base font-medium leading-normal select-none">/</span>
    </div>
    <div class="md:grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <div class="flex flex-col gap-3 pb-3">
        <a [routerLink]="['/alojamiento/1']">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style="
              background-image: url('img/DPB/DPB-1.webp');
            "
          ></div>
        </a>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal select-none">
            Departamento en planta baja
          </p>
          <p class="text-[#60768a] text-sm font-normal leading-normal select-none">
            6 personas · 1 baño
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <a [routerLink]="['/alojamiento/2']">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style="
              background-image: url('img/DPP/DPP-1.webp');
            "
          ></div>
        </a>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal select-none">
            Departamento en primer piso
          </p>
          <p class="text-[#60768a] text-sm font-normal leading-normal select-none">
            4 personas · 1 baño
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<dta-footer></dta-footer>
