<dta-navbar></dta-navbar>
<div class=" flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap gap-2 p-4">
      <a
        class="text-[#111418] text-base font-medium leading-normal"
        [routerLink]="'/alojamiento'"
        >Alojamientos</a
      >
      <span class="text-[#60758a] text-base font-medium leading-normal">/</span>
    </div>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <div class="flex flex-col gap-3 pb-3">
        <a [routerLink]="['/alojamiento/1']">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style="
              background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAFBmhXFlJUSWBMm-F442NDTcf8kS58GhxFkM20vF1fOEtnzmctTMgcTv6JQgD5rphgn6lchtToTFLBvbeSK1o5HdBRBDrvLeuo94OZcnPTTCU8lBzczlREiD2ciHPXLu0Nkf-ph_v87-nxQAfo-I89lJuwHpS8sBC5BT6a_vifLo3AttRWQ9J52aEih0MkB33tY8xyRwOdTdB9o8M9CcQXlY4qdF-bTfW9bZ1WCVdHi9Jq-ZpqwMUGzjjy1gHJ0W6nGTLTECpPcz8');
            "
          ></div>
        </a>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal">
            Departamento en planta baja
          </p>
          <p class="text-[#60768a] text-sm font-normal leading-normal">
            6 personas · 1 bath
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <a [routerLink]="['/alojamiento/2']">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style="
              background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBZ1TjYScJ7gLBNYcAVTkEonos9o8fkqNP-t2v09sc2zQEy4vM_lXvCoHiNl7gZbrRl53kFY9_8bAjuwyNqCbtk6w6wthngm9x1VD49yUHxtLBrQoyjBaUuq4hScE0iWUf0DVHWB9r1WO2b8CEgM1B59SYZLO0rLuq5-0m8xKbDtiCKymaW-SYDLtuYHR3l9E2W8G7FszD-QREWiEBGv5m9DBj56EODQoRy4d4H8Rd82i5dUeWYH_Rs3_ljPZ3lWexAqRQbvSzZXUM');
            "
          ></div>
        </a>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal">
            Departamento en primer piso
          </p>
          <p class="text-[#60768a] text-sm font-normal leading-normal">
            4 personas · 1 bath
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<dta-footer></dta-footer>
