<section
  class="container-fluid min-vh-100 rounded-bottom-5 d-flex flex-column justify-content-center align-items-center"
  id="hero"
>
  <div
    class="d-md-flex justify-content-center flex-column align-items-center row"
  >
    <h1 class="display-1 col-sm-7">Descubre el lujo y la tranquilidad aquí</h1>
    <div class="col-sm-7">
      <p class="text-wrap fw-bold fs-5 panim">
        Bienvenido a <span>Departamentos Arrayanes</span>, donde cada rincón está diseñado
        para ofrecerte una experiencia inolvidable. Relájate y disfruta de la
        belleza natural que te rodea.
      </p>
      <div class="d-flex gap-3">
        <button class="fw-bold btn btn-success" (click)="openWhatsApp()">Reservar</button>
      </div>
    </div>
  </div>
</section>
