<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="btn btn-outline-success bi bi-caret-left-fill">
      volver</a
    >
    <h2 class="navbar-brand">Galería</h2>
  </div>
</nav>
<section class="container-fluid d-flex flex-column gap-5 my-5">
  <div class="d-flex flex-column text-center">
    <div class="mb-4">
      <h6>Departamento</h6>
      <h2>Primer piso</h2>
    </div>
    <div class="row row-cols-md-4 row-cols-lg-8 gap-2 justify-content-center">
      @for (img of gDepto2; track $index) {
      <div [class]="img.class">
        <img [src]="img.url" alt="" class="img-fluid" />
      </div>
      }
    </div>
  </div>
</section>
