<section
  class="container-md d-lg-flex align-items-center gap-3 mt-5 py-5 min-vh-100"
  id="benefits"
>
  <div class="">
    <div class="lh-lg">
      <h6 class="banim">Bienestar</h6>
      <h2 class="fw-bold banim">Descubre la Ventajas de Elegir Arrayanes</h2>
      <p class="banim">
        Departamentos Arrayanes ofrece una ubicación inmejorable, permitiéndote
        explorar lo mejor de la ciudad. Nuestros servicios personalizados y
        comodidades de primera clase garantizan una estancia inolvidable.
      </p>
    </div>
    <div class="">
      <ul class="lh-lg">
        <li class=" banim">
          <i class="bi bi-geo-alt-fill "></i>
          <p>Ubicación privilegiada cerca de atracciones turísticas.</p>
        </li>
        <li class=" banim">
          <i class="bi bi-person-arms-up"></i>
          <p>Atención al cliente adaptada a tus necesidades.</p>
        </li>
        <li class=" banim">
          <i class="bi bi-houses-fill"></i>
          <p>Instalaciones modernas para una experiencia cómoda.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-4">
    <img
      src="/image/instalaciones/depto1/depto1_6h.jpg"
      alt=""
      class="img-fluid rounded-4 banim"
      style="width: 100%"
    />
  </div>
</section>
